<% layout('layouts/boilerplate') %>

  <div class="row mt-3">
    <div class="offset-2 col-8">

      <!-- BEGIN FORM -->
      <div class="container">
        <form action="/vehicles" method="post">
          <div class="row">
            <div class="col-6">
              <label for="type" class="form-label">Vehicle Type</label>
              <select name="type" class="form-select" id="type">
                <option value="" disabled selected hidden>--Please Choose Vehicle Type--</option>
                <option value="Four Seater">4 Seater</option>
                <option value="Seven Seater">7 Seater</option>
                <option value="Truck">Truck</option>
              </select>
            </div>

            <div class="col-6">
              <label for="status" class="form-label">Status</label>
              <select name="status" class="form-select" id="status">
                <option value="" disabled selected hidden>--Please Choose Vehicle Status--</option>
                <option value="in">In</option>
                <option value="out">Out</option>
              </select>
            </div>

          </div>
          <div class="">
            <div class="form-group row">
              <label for="enterdate" class="col-3 col-form-label">Enter Date</label>
              <div class="col-9 input-group">
                <input type="text" class="form-control bg-white datepicker ps-2" name="enterdate" id="enterdate"
                  placeholder="--mm/dd/yyyy--" readonly>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group row">
              <label for="leavedate" class="col-3 col-form-label">Leave Date</label>
              <div class="col-9 input-group">
                <input type="text" class="form-control bg-white datepicker ps-2" name="leavedate" id="leavedate"
                  placeholder="--mm/dd/yyyy--" readonly>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="bi bi-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
          </div>
        </form>
      </div>
      <!-- END FORM -->

      <!-- BEGIN TABLE -->
      <div class="table-wrapper-scroll-y my-custom-scrollbar mt-2">
        <table class="table align-middle mb-0 bg-white" id="data-table" style="border-style: none;">
          <thead class="bg-dark text-white">
            <tr>
              <th>License Plate</th>
              <th>Vehicle Type</th>
              <th>Status</th>
              <th>Enter Time</th>
              <th>Leave Time</th>
              <th>Fee</th>
            </tr>
          </thead>
          <tbody>
            <% for (let vehicle of vehicles){ %>
              <tr>
                <td>
                  <p class="fw-bold mb-1">
                    <%= vehicle.licensePlate %>
                  </p>
                </td>

                <td>
                  <p class="fw-normal mb-1">
                    <%= vehicle.vehicleType %>
                  </p>
                </td>

                <td>
                  <% if(vehicle.leaveTime){ %>
                    <span class="badge rounded-pill bg-success">OUT</span>
                    <% }else{ %>
                      <span class="badge rounded-pill bg-warning">IN</span>
                      <% } %>
                </td>

                <td>
                  <p class="fw-normal mb-1">
                    <%= vehicle.enterTime.toLocaleString() %>
                  </p>
                </td>

                <td>
                  <p class="fw-normal mb-1">
                    <% if(vehicle.leaveTime){ %>
                      <%= vehicle.leaveTime.toLocaleString() %>
                        <% }else{ %>
                          <% } %>
                  </p>
                </td>

                <td>
                  <% if(vehicle.fee){ %>
                    <span class="badge bg-success fs-6">
                      <%= vehicle.fee %>$
                    </span>
                    <% }else{ %>
                      <% } %>

                </td>
              </tr>
              <% } %>
          </tbody>

          <tfoot class="bg-dark text-white">
            <tr>
              <th>Total</th>
              <th>Vehicle Type</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th>Total Fee</th>
            </tr>


            <tr class="bg-white text-dark">
              <td>
                <p class="fw-bold mb-1">
                  <%= vehicles.length %>
                </p>
              </td>
              <td>
                <% if(method==='POST' ){ %>
                  <% if(vehicleType){ %>
                    <p class="fw-normal mb-1">
                      <%= vehicleType %>
                    </p>
                    <% } %>
                      <% } %>
              </td>
              <td>
                <% if(method==='POST' ){ %>
                  <% if(status && status==='in' ){ %>
                    <span class="badge rounded-pill bg-warning">IN</span>
                    <% }else if(status && status==='out' ){ %>
                      <span class="badge rounded-pill bg-success">OUT</span>
                      <% } %>
                        <% } %>
              </td>
              <td></td>
              <td></td>
              <td>
                <span class="badge bg-success fs-6">
                  <%= totalFee %>$
                </span>
              </td>
            </tr>

          </tfoot>
        </table>
      </div>
      <!-- END TABLE -->

    </div>
    <!-- </div>
  <h1>All Vehicles</h1>
  <form action="/vehicles">
    <div class="row">
      <div class="col">
        <input type="checkbox" id="four-seater" name="fourseater" value="true">
        <label for="four-seater">4 Seater</label><br>
        <input type="checkbox" id="seven-seater" name="sevenseater" value="true">
        <label for="seven-seater">7 Seater</label><br>
        <input type="checkbox" id="truck" name="truck" value="true">
        <label for="truck">Truck</label><br>
      </div>

      <div class="col select-view-by">
        <div class="display-4">Sort by</div>
        <div class="form-check">
          <input class="form-check-input " type="radio" name="view" id="day" value="day">
          <label class="form-check-label" for="day">
            Day
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="view" id="month" value="month">
          <label class="form-check-label" for="month">
            Month
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="view" id="year" value="year">
          <label class="form-check-label" for="year">
            Year
          </label>
        </div>
      </div>

      <div class="col">
        <div class="form-group row">
          <label for="datepicker" class="col-3 col-form-label">Date Picker</label>
          <div class="col-9 input-group">
            <input type="text" class="form-control bg-white" id="datepicker" readonly>
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="bi bi-calendar"></i>
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="monthpicker" class="col-3 col-form-label">Month Picker</label>
          <div class="col-9 input-group">
            <input type="text" class="form-control bg-white" id="monthpicker" readonly>
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="bi bi-calendar"></i>
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="yearpicker" class="col-3 col-form-label">Year Picker</label>
          <div class="col-9 input-group">
            <input type="text" class="form-control bg-white" id="yearpicker" readonly>
            <span class="input-group-append">
              <span class="input-group-text bg-light d-block">
                <i class="bi bi-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>



    <button>Filter</button>
  </form> -->

    <script src="/scripts/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <script>

      $(document).ready(function () {
        $(".datepicker").datepicker({
          autoclose: true
        });
      })

      $("#monthpicker").datepicker({
        format: "mm-yyyy",
        viewMode: "months",
        minViewMode: "months",
        autoclose: true
      });

      $(document).ready(function () {
        $("#yearpicker").datepicker({
          format: "yyyy",
          viewMode: "years",
          minViewMode: "years",
          autoclose: true
        });
      })


    </script>